@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f28a03195abd8bdfdcd8cca2d4197d6a") format("truetype"),
url("./flaticon.woff?f28a03195abd8bdfdcd8cca2d4197d6a") format("woff"),
url("./flaticon.woff2?f28a03195abd8bdfdcd8cca2d4197d6a") format("woff2"),
url("./flaticon.eot?f28a03195abd8bdfdcd8cca2d4197d6a#iefix") format("embedded-opentype"),
url("./flaticon.svg?f28a03195abd8bdfdcd8cca2d4197d6a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-instagram:before {
    content: "\f101";
}
.flaticon-linkedin:before {
    content: "\f102";
}
.flaticon-upload:before {
    content: "\f103";
}
.flaticon-mail:before {
    content: "\f104";
}
.flaticon-behance:before {
    content: "\f105";
}
